@import url('https://fonts.googleapis.com/css2?family=Acme&family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin-top: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html, body {
      background-color: #333;
      color: white;
  }
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

html, body {
  background: #fbf8f1;
  font-family: 'Acme', sans-serif;
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
}

/* Títulos de las secciones */
.center-heading {
  text-align: center;
}

/* Títulos de las secciones */
.center-heading .section-title {
  font-weight: bold;
  font-size: 55px;
  color: black;  
  line-height: 38px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  z-index: 1;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Fondo de los títulos de cada sección */
.center-heading .section-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/

/* Header */

.header-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  height: 80px; 
  background-color: #fbf8f1;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  margin: 0;
  padding: 0;
}

/* Posicionamiento logo y botones header */
.header-area .main-nav {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  padding: 0 20px; 
}

/* Para que no crezca más el logo */
.header-area .main-nav .logo {
  flex: 0 1 auto; 
}

/* Imagen del logo */
.header-area .main-nav .logo img {
  width: 60px; 
  height: auto; 
  border-radius: 50%; 
  object-fit: contain;
}

.header-area .main-nav .nav {
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #000; 
  text-decoration: none;
  height: 40px;
  line-height: 40px;
}

.header-area .main-nav .nav li a:hover {
  color: #7fcb27; 
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}

/* Línea del centro del menú en móvil */
.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  background-color: black;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

/* Líneas de los lados del menú en móvil */
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  background-color: blacks;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

/* Posicionamiento del menú en general en móvil */
.header-area .main-nav .menu-trigger span {
  top: 16px;
}

/* Posicionamiento de la primera línea del menú en móvil */
.header-area .main-nav .menu-trigger span:before {
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

/* Posicionamiento de la tercera línea del menú en móvil */
.header-area .main-nav .menu-trigger span:after {
  transform-origin: 33% 0;
  top: 10px;
}

/* Posicionamiento del menú en general en móvil cuando está activado */
.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: black;
  width: 100%;
}

/* Tamaño del header */
.header-area.header-sticky {
  min-height: 80px;
}

/* Margen del logo */
.header-area.header-sticky .logo {
  margin-top: 10px;
}

/* Margen del logo en portátil */
.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

/* Color letras del header */
.header-area.header-sticky .nav li a {
  color: #1e1e1e;
}

/* Color letras cuando se está en esa sección */
.header-area.header-sticky .nav li a.active {
  color: #7fcb27;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-area .main-nav {
    flex-direction: column;
    align-items: center;
  }

  /* Posicionamiento texto del menú desplegado */
  .header-area .main-nav .nav {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
  } 

  /* Color bordes de la caja del menú desplegado */
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  
  /* Color bordes entre cada palabra de la caja del menú desplegado */
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fbf8f1;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  /* Color letras cuando está el menú desplegado */
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fbf8f1 !important;
    color: #7fcb27 !important;
  }

  /* Color fondo letras cuando está el menú desplegado */
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
  }

  .header-area .main-nav .menu-trigger {
    display: block;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/

/* Imagen principal para móviles */
.img-mobile {
  display: none;
  padding-top: 80px; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  overflow: hidden;
}

/* Imagen principal para ordenadores */
.img-desktop {
  padding-top: 80px; 
  max-width: 100%;
  height: auto;
  display: block; 
  margin: 0 auto;
}

@media (max-width: 767px) {
  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block; 
    max-width: 100%;
    height: auto;
  }
}

/* 
---------------------------------------------
niveles
--------------------------------------------- 
*/

#niveles {
  padding-top: 40px;
  position: relative;
  background: #fbf8f1;
  background-image: url('../images/fondoequipo2.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

/* Márgenes de Niveles */
.mini {
  min-height: 215px;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  padding-bottom: 90px;
}

/* Sombra cajas */
.mini .mini-content {
  position: relative;
  z-index: 3;
}

/* Cajas */
.mini .mini-content .mini-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  margin: 10px;
  position: relative;
  text-align: center;
  width: calc(100% - 20px);
}

/* Diseño sombra cajas */
.mini .mini-content .mini-box:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: black;
  width: 100%;
  opacity: .15;
  height: 100%;
  bottom: -10px;
  left: 0px;
  right: -20px;
  margin: auto;
  border-radius: 20px;
}

/* Tamaño de las cajas */
.mini .mini-content .mini-box i {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

/* Tamaño de las imágenes en las cajas */
.mini .mini-content .mini-box img {
  max-width: 100%;
  height: auto;
}

/* Letras de las cajas */
.mini .mini-content .mini-box strong {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
  margin-top: 20px;
}

/* Separación entre cajas */
.mini .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

/* Formato de cada caja */
.mini .col-lg-2, .mini .col-md-3, .mini .col-sm-6, .mini .col-6 {
  padding: 10px;
  box-sizing: border-box;
}

/* Media queries para los tamaños de las cajas */
@media (max-width: 991px) {
  .mini .mini-content .mini-box {
    margin: 10px;
    width: calc(100% - 20px);
  }
}

@media (min-width: 992px) {
  .mini .mini-content .mini-box {
    width: 120%;
  }
}

/* 
---------------------------------------------
equipo
--------------------------------------------- 
*/

/* Fondo de la sección */
.section {
  position: relative;
  background-image: url('../images/fondoequipo2.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  padding: 50px 0;
}

/* Cajas */
.team-item {
  background: white; 
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}

/* Posicionamiento imágenes respecto a las cajas */
.image-wrapper {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

/* Puntitos de alrededor de la foto */
.team-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px dotted black; 
}

/* Márgenes de los nombres */
.team-content {
  margin-top: 100px; 
  height: 380px;
}

/* Formato nombres */
.user-name {
  font-size: 60px;
  color: #1e1e1e;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Ephesis", cursive;
  font-weight: 500px;
  font-style: normal;
}

/* Formato descripciones */
.team-content p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}

/* Nombres y descripciones según pantallas */
@media (min-width: 1024px) {
  .team-content {
    min-height: 380px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .team-content {
    min-height: 470px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .team-content {
    min-height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .team-content {
    min-height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1080px) and (max-width: 2400px) {
  .team-content {
    min-height: 320px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* 
---------------------------------------------
carrusel
--------------------------------------------- 
*/




/* 
---------------------------------------------
Metodología
--------------------------------------------- 
*/

/* Fondo de la sección */
#metodologia {
  background: #fbf8f1;
}

/* Fondo de las cajas */
.metodologia-item {
  position: relative;
  background: white;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  min-height: 350px;
  border: 1px solid #ccc;
  height: 600px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

/* Parte de arriba de la primera caja */
.metodologia-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 40px;
  background: #fff500;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ccc;
}

.hand-drawn-button {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
}

.hand-drawn-button.red {
  left: 20px;
  border-color: red;
  background: red;
}

.hand-drawn-button.yellow {
  left: 40px;
  border-color: orange;
  background: orange;
}

.hand-drawn-button.green {
  left: 60px;
  border-color: green;
  background: green;
}

/* Botones de la parte de arriba de la segunda caja */
.windows-buttons {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  gap: 10px;
}

/* Diseño de la parte de arriba de la segunda caja */
.windows-buttons .button {
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 1;
  border-radius: 2px;
  color: black;
}

.windows-buttons .button.minimize::before {
  content: '-';
}

.windows-buttons .button.maximize::before {
  content: '□';
}

.windows-buttons .button.close::before {
  content: 'x';
}

/* Imágenes de las cajas */
.rounded-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* Posicionamiento imágenes de la caja */
.image-container {
  text-align: center; 
  margin-bottom: 10px; 
}

/* Parte de arriba de la tercera caja */
.metodologia-item.second::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 40px;
  background: #fff500;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ccc;
}

/* Descripción de las cajas */
.list li {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 130px;
  letter-spacing: 0.25px;
  padding: 10px;
}

/* Diseño de la descripción de las cajas */
.metodologia-item .metodologia-body .list li.active {
  color: #555;
  text-decoration: none;
  font-size: 16px;
}

/* Parte de arriba de la segunda caja */
.metodologia-item.mobile-browser {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

/* Barra de búsqueda de la caja */
.search-bar {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #fff500;
  border-radius: 10px;
  border: 1px solid #ccc;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}

/* Icono de buscar de la caja */
.search-icon {
  margin-right: 10px;
  font-size: 18px;
}

/* URL de la caja */
.url {
  flex-grow: 1;
  text-align: center;
  font-size: 14px;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 5px;
}

/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

/* Fondo de la sección */
#contacto {
  padding-top: 40px;
  position: relative;
  background: #fbf8f1;
}

/* Bordes del formulario */
.contact-form input, .contact-form textarea {
  color: #777;
  font-size: 14px;
  border: 1px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  appearance: none;
  margin-bottom: 30px;
}

/* Caja del mensaje */
.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

/* Div de todo el formulario */
.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Botón de enviar mensaje */
button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #7fcb27;
  text-transform: uppercase;
  color: #fbf8f1;
  letter-spacing: 0.25px;
}

/* Hover de enviar mensaje */
button.main-button:hover {
  background-color: #2f4a0e;
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/

/* Footer */
footer {
  background-image: linear-gradient(127deg, #7fcb27 20%, #2f4a0e 95%);
  padding-top: 30px;
}

/* Iconos de FB y WA */
footer .social {
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}

footer .social li {
  margin: 0px 10px;
  display: inline-block;
}

/* Facebook */
footer .social li a {
  color: #3b5998 ;
  text-align: center;
  background-color: #fbf8f1;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
}

footer .social li a:hover {
  background-color: #3b5998 ;
  color: #fbf8f1;
}

/* WhatsApp */
footer .social li a.whatsapp {
  color: #25D366;
}

footer .social li a.whatsapp:hover {
  background-color: #25D366;
  color: #fbf8f1;
}

/* Información de contacto */
.address {
  border-top: 1px solid rgba(250,250,250,0.2);
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fbf8f1;
}

.contact-info {
  text-align: center;
}

.contact-info a {
  color: inherit; 
  text-decoration: none; 
}

.contact-info a:hover {
  text-decoration: underline; 
  color: #000; 
}
